
<h1>Crear Container</h1>
<hr />
<p>
    <a asp-controller="AzureBlobs" asp-action="Index" class="btn btn-dark">Volver</a>
</p>
<hr />
<form method="post">
    <label>Nombre del container:</label>
    <input type="text" name="containerName" class="form-control" />
    <br />
    <button class="btn btn-outline-secondary">Crear</button>
</form>