<h1>Upload Files</h1>
<hr />
<p> 
    <a asp-controller="AzureFiles" asp-action="Index" class="btn btn-dark">Volver</a>
</p>
<hr />
<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero:</label>
    <input type="file" name="file" class="form-control"/>
    <br />
    <button class="btn btn-outline-secondary">Upload File</button>
</form>
<h3>@ViewBag.Mensaje</h3>